body{
    width: 100%;
    height: 100%;
}
.box1{
    width: 100%;
    height: 100%;
    background:url("image/1.jpg");
    background-size:100% 100%;
}
.box2{
    width: 100%;
    height: 100%;
    background:url("image/6.jpg");
    background-size:100% 100%;
}
.box3{
    width: 100%;
    height: 100%;
    background:url("image/5.png");
    background-size:100% 100%;
}

.box4{
    width: 100%;
    height: 100%;
    background:url("image/8.jpg");
    background-size:100% 100% ;

}
.box5{
    width: 100%;
    height: 100%;
    background:url("image/3.jpg");
    background-size:100% 100% ;

}
.box1 hr{
    width: 80%;
    height: 3px;
    border:none;
    border-top:3px double cornflowerblue;
}
audio {
    margin-top:10px;
}

 .public{
    width: 50%;
    margin: 15px 25%;
    text-align: center;
}
 .public a{
     text-decoration: none;
    color: #5762ad;
     font-size: 23px;
     font-weight: 800;
}

.public a:hover{
    color:blue;
}

.public .line{
    width: 100%;
    text-align: center;
    border-top: solid 2px red;
    opacity: 0;
    transform: translateX(-1000px) translateY(0px);
}

.public .line h5{
    text-transform: uppercase;
}
.box2.current .line{
    transition: all 1s linear;
    transform:translate(0);
    opacity: 1;
    color: #ff230f;
}
.box3.current .line{
    transition: all 1s linear;
    transform:translate(0);
    opacity: 1;
    color: #ff230f;
}
.box4.current .line{
    transition: all 1s linear;
    transform:translate(0);
    opacity: 1;
    color: #ff230f;
}
.box1 .pic{
    width:190px;
    height: 190px;
    border-radius: 50% 50%;
    /*background-color: red;*/
    position: relative;
    /*z-index: 1;*/

}
.box1 .pic a img {
    width:190px;
    height: 190px;
    display: block;
    border-radius: 50% 50%;
    position: absolute;
    border:3px solid #5762ad;

}
.box1.current .public {
    animation: change 1s steps(5) 1.2s 1 forwards;
}

@keyframes change {
    0% {
         widtn:0;
    }
    100% {
        width: 50%;
    }
}

.box2{
    background-color: #8edbff;
}

.box2 .message{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-color: #c7c7dc;
}
.box2 .message .public_message{
    width: 15%;
    height: 50%;
position: relative;
    margin:20px 5%;
    border-radius: 50%;
    border:solid 4px white;
    float:left;
}
.box2 .message .public_message:hover{
    background-color: white;
    transform: scale(1.2);
    border:solid 6px lightskyblue;
    /*opacity: 0.1;*/
    background-color: white;
    transition: all 0.5s linear;

}
.box2.current .message .public_message:hover img{
    animation:move 1s linear 0.5s 1 forwards;
    z-index: -111;
}
@keyframes move {
    0%{
        transform: translateX(0);
    }
    25%{
   transform: translateX(80px);
}
50%{
   transform: translateX(-80px);
}
100%{
    transform: translateX(0);
}
}

.box2 .message .public_message img{
    position: absolute;
    left: 20px;
    top: 15px;
}

.box2 .message .myMseeage{
    width: 15%;
    float:left;
    margin:0px 5%;
    position: relative;


}
.box2 .message .myMseeage p{
    color:white;
    font-size: 15px;
    font-weight: 600;
}
.box2 .message .myMseeage p:last-of-type{
    float:right;
}
.box2 .message .myMseeage .line{
    position: absolute;
    bottom: 22px;
    left: 10px;
    width: 100px;
    height:3px;
    /*background-color: #838ab7;*/
    transform: rotate(-20deg);
    background-color: white;
}

.box2 .message .myMseeage:hover p:first-of-type{
       float:right;
       color:#838ab7;
       bottom: 20px;
       right:0;
    font-size: 17px;
    font-weight: 600;
}
.box2 .message .myMseeage:hover p:last-of-type{
    float:left;
    color:#838ab7;
    font-size: 17px;
    font-weight: 600;
}

.box2.current .message .myMseeage:hover .line {
    transform: rotate(-180deg);
    position: absolute;
    border:2px solid #838ab7;
    top: 30px;
}



.box2 .appraise{
    margin-top: 30px;
    width: 100%;
     position: relative;
}
.box2 .appraise p{
    display:inline-block;
    text-indent:2em;
    font-size: 20px;
    line-height: 25px;
    margin: 20px;
    font-weight: 600;
    color:#5762ad;

}
.box2 .appraise:hover p{
    color:dodgerblue;

}
.box2 .appraise::before,.appraise::after{
    content:"";
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    position: absolute;
}
.box2 .appraise::before{
    top:0;
    left:0;
    border-top: 4px solid #545b7f;
    border-left: 4px solid #545b7f;
}
.appraise::after{
    right:0;
    bottom:0;
    border-right: 4px solid #545b7f;
    border-bottom: 4px solid #545b7f;
}
.box3{
    background-color: pink;
}
.box3 ul{
    margin: 50px;
}
.box3 ul li{
    float:left;
    list-style: none;
    width: 33.33%;
    text-align: center;
}
.box3 ul li a{
    display: inline-block;
    text-decoration: none;
}
.box3 ul:first-of-type li a:hover{
    transform: scale(1.2);
    transition: all 0.2s linear;
}

.box3 ul:last-of-type{
    margin-top: 100px;
    font-size: 50px;
}

.box3 hr{
    width: 80%;
    height: 3px;
    border:none;
    border-top:5px double red;
    margin-top: 250px;
    z-index: 222;
}

.box3 .arrows{
    position: relative;

}

.box3 .arrows div{
    position: absolute;
    width: 50px;
    height: 50px;
    border-left: 2px solid #545b7f;
    border-top: 2px solid #545b7f;
    transform: rotate(225deg);
    left: 190px;
    top: -21px;
}
.box3 .arrows img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 200px;
    top: -28px;
}
.box3 p{
    text-align: center;
    font-size: 20px;
}
.box3 p a{
    text-decoration: none;
    font-size: 15px;
}
.box3 p a:hover{
    color:pink;
}
.box4{
    background-color: #abcdef;
}
.box4 .jobs{
    width: 100%;
    height: 100%;
}
.box4 .jobs ul {
    width: 1800px;
    /*height: 100%;*/
}
.box4 .jobs ul li {
    /*width: 100%;*/
    /*height: 100%;*/
    list-style: none;
    float:left;
}
.box4 .jobs a{
    display: block;
    width: 100%;
}
.box4 .jobs img{
    display: block;
    width: 100%;
    background-size:100%;
}
.icon-prev{
    left:0;
}
.carousel-control .glyphicon-chevron-left{
    top: 150px;
    opacity: 1;
}
.carousel-control .glyphicon-chevron-right{
    right: -680px;
    top: 150px;
    opacity: 1;
}

.carousel-inner div:first-of-type img{
    position: relative;
}
.hls,.zhlc{
    position: absolute;
    top: 20px;
    /*left: 100px;*/
    left:10%;
    z-index: 10;
}
.hls h3{
    font-weight: 700;
}
.hls ul li{
    line-height: 30px;
}

.carousel-inner div:last-of-type img{
    position: relative;
}
.zhlc h3{
    font-weight: 700;
}
.zhlc ul li{
    line-height: 30px;
}

.hls_xs,.zhlc_xs{
    position: absolute;
    font-size: 10px;
    z-index: 10;
    top: 30px;
    left:30px;
    line-height: 15px;
}
.carousel-inner .item div:last-of-type {
    margin-top: 50px;
}
.carousel-inner .item div:last-of-type ul li{
    line-height: 30px;

}

.fontColor:hover li{
    color:#7453cd;
}
.fontColor:hover p{
    color:#7453cd;
}
.fontColor:hover h3{
    color:#7453cd;
}
.box5{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: pink;
}
.exchange{
    border: 5px double #7453cd;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-top: 30px;
    color:darkslateblue;
    /*margin-top: 25%;*/
}
.exchange span{
    font-size: 28px;
    font-weight: 800;
    width: 40%;
    height: 50px;
    margin:5% 3% 15% 3%;
    display: inline-block;
    text-align: center;
    border:1px solid darkslateblue;
    border-radius: 20px;
    padding: 0  5%;
}
.exchange a {
    text-decoration: none;
}
.exchange input {
 padding-left: 20px;
    border-radius: 20px;
}
.disAgree {
    width: 100%;
    /*height: 60%;*/
    border:1px solid cornflowerblue;
    border-radius: 20px;
}
.disAgree p{
    font-size: 30px;
    color:mediumslateblue;
    padding:5%;
    text-align: center;
    /*border:1px solid cornflowerblue;*/
}
.disAgree p a{
    text-decoration: none;
}
.disAgree img{
    width:100px;
    height: 100px;
}



.cover{
    padding-top: 150px;
}

.ok a{
    border:1px solid cornflowerblue;
    padding:5%;
    border-radius: 20px;

}
/*.cover1{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: fixed;*/
    /*background: rgba(0,0,0,0.3);*/
    /*top:0;*/
    /*left:0;*/
    /*display: none;*/
    /*/!*position: relative;*!/*/
/*}*/
/*.cover1 img:first-of-type {*/
    /*position: absolute;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*left:220px;*/
    /*top: 60px;*/
    /*/!*bottom:260px;*!/*/
/*}*/
/*.cover1 img:last-of-type {*/
    /*position: absolute;*/
    /*left:300px;*/
    /*bottom:160px;*/
/*}*/
/*.cover1 .exchange{*/
    /*width: 50%;*/
    /*margin: 10% 25%;*/
    /*text-align: center;*/
    /*border-radius: 20px;*/
    /*position: relative;*/
/*}*/
/*.cover1 .exchange span {*/
/*}*/
/*.cover1 .exchange p{*/
    /*margin: 5%;*/

/*}*/
/*.cover2 {*/
    /*margin-top: 10%;*/
    /*width: 100%;*/
/*}*/
/*.cover2 .video{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/