#jd {
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    /*background-color: red;*/
    height: 1000px;
}

.jd_title {
    width: 100%;
    height: 40px;
    position: fixed;
    left: 0;
    top: 0;
    /*background-color: pink;*/
    z-index: 1000;

}

.jd_title .jd_top {
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
rgba(201, 21, 35, 0);
    overflow: hidden;
    height: 40px;

}

.jd_title .jd_top .icon_logo {
    position: absolute;
    left: 5px;
    top: 3px;
    background-position: 0 -103px;
    width: 60px;
    height: 40px;
}

.jd_title .jd_top .loginbar {
    position: absolute;
    right: 8px;
    top: 0px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
}

.jd_title .jd_top form {
    margin-left: 70px;
    margin-right: 45px;

}

.jd_title .jd_top form input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-radius: 15px;
    padding-left: 30px;
    /*position: relative;*/
}

.jd_title .jd_top form .icon_search {
    position: absolute;
    background-position: -60px -109px;
    width: 20px;
    height: 20px;
    left: 75px;
    top: 10px;
}

/*轮播图*/
.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner ul:nth-child(1) {
    width: 1000%;
    transform: translateX(-10%);
    overflow: hidden;
}

.banner ul:nth-child(1) li {
    width: 10%;
    float: left;

}

.banner ul:nth-child(1) li a {

}

.banner ul:nth-child(1) li a img {
    width: 100%;

}

.banner ul:nth-child(2) {
    /*background-color: black;*/
    width: 153px;
    height: 10px;
    position: absolute;
    bottom: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.banner ul:nth-child(2) li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    float: left;
    margin-left: 15px;
}
.banner ul:nth-child(2) .new{
    background-color: #fff;
}
.banner ul:nth-child(2) li:nth-child(1) {

    /*color: #ffffff;*/
    margin-left: 0px;
}

/*功能区*/
.jd .jd_shop {
    width: 100%;

}

.jd_shop ul {
    width: 100%;
    overflow: hidden;
}

.jd_shop ul li {
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 8px;
}

.jd_shop ul li img {
    width: 40px;
    height: 40px;
}

.jd_shop ul li p {
    color: #333;
    font-size: 13px;
    margin-top: 5px;
}

/*热点*/
.hot section {
    /*height: 400px;*/
    margin-top: 10px;
    background-color: #FFFFFF;
}

.hot section:nth-child(1) {
    position: relative;
    /*height: 250px;*/
    overflow: hidden;
    padding-bottom: 10px;

}

.hot section:nth-child(1) .sk {
    height: 40px;
}

.hot section:nth-child(1) .sk .time_pic {
    background: url("../images/seckill-icon.png");
    background-size: 20px 25px;
    width: 20px;
    height: 25px;
    position: absolute;
    left: 10px;
    top: 5px;
}

.hot section:nth-child(1) .time_sk {
    margin-left: 35px;
    line-height: 40px;
    color: #dc0000;
    font-size: 15px;
}

.hot section:nth-child(1) .time_right {
    position: absolute;

    right: 10px;
}

.hot section:nth-child(1) .jd_time {
    position: absolute;
    left: 110px;
    top: 0px;
    line-height: 40px;
}

.hot section:nth-child(1) .jd_time span {
    folat: left;
    background-color: black;
    color: white;
}

.hot section:nth-child(1) .jd_time span:nth-child(3n) {
    background-color: white;
    color: black;
}

.hot section .list {
    position: relative;
    padding-top: 5px;
}

.hot section .list h3 {
    font-weight: 100;
    margin-left: 25px;

}

.hot section .list h3::before {
    content: "";
    display: block;
    width: 3px;
    /*height: 3px;*/
    background-color: rgba(201, 21, 35, 0.8);
    padding-top: 12px;
    position: absolute;
    left: 15px;
    top: 10px;

}

.sk_shop ul li {
    float: left;
    width: 33.33%;
    text-align: center;
}

.sk_shop ul li a img {
    background-size: 150px 150px;
    width: 150px;
    height: 150px;
}

.sk_shop ul li a .cost {
    color: red;
    font-weight: 500;
    font-size: 16px;
}

.sk_shop ul li a .cost_del {
    color: #333;
    font-size: 12px;
}

.hot section:nth-child(2) {
    /*overflow: hidden;*/
}

.hot section:nth-child(2) .hot_pic {
    display: flex;
}

.hot section:nth-child(2) .hot_pic .hot_pic_left {
    flex: 1;
    /*flex-wrap: wrap;*/
}

.hot section:nth-child(2) .hot_pic .hot_pic_left img {
    width: 100%;

}

.hot section:nth-child(2) .hot_pic .hot_pic_right {
    flex: 1;
}

.hot section:nth-child(2) .hot_pic .hot_pic_right img {
    width: 100%;
}

.hot section:nth-child(2) .hot_pic .hot_pic_right a:nth-child(1) img {
    border-bottom: 1px solid #b5b5b5;

}

.hot section:nth-child(3) .activity {
    display: flex;
    margin-top: 10px;
    padding-bottom: 5px;
}

.hot section:nth-child(3) .activity .activity_left {
    flex: 1;
    /*border-right: 1px solid #b5b5b5;*/

}

.hot section:nth-child(3) .activity .activity_left img {
    width: 100%;
    float: left;
}

.hot section:nth-child(3) .activity .activity_right {
    flex: 1;

}

.hot section:nth-child(3) .activity .activity_right img {
    width: 100%;
    height: 100%;
}